body {
    background-image: url("pexels-philippe-donn-1169754.jpg");
    /* background-image: url("pexels-felix-mittermeier-956981.jpg"); */
    background-size: 100%;
}

@font-face {
    font-family: spaceFont;
    src: url("SpaceMission-rgyw9.otf");
}

header, article, footer {
    border-radius: 25px;
    background-color: #d9d9d9;
    text-align: center;
}

header {
    margin: 20px 10px;
    padding: 1px;
    font-family: spaceFont;
    font-size: 25px;
    letter-spacing: 4px;
}

section {
    display: -webkit-flex;
    display: flex;
}

article {
    display: flex;
    flex: 1;
    margin: 0px 10px;
    padding: 20px;
    max-height: 420px;
}

#board {
    margin: auto;
}

td.cell {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 5px;
}

#logs {
    font: 16px/26px Georgia, Garamond, Serif;
    overflow-y: scroll;
    margin: 0 auto;
}

footer {
    margin: 20px 10px;
    padding: 20px;
}

.button, #inputDiv {
    margin: 20px;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}

#errorText {
    text-align: center;
    display: inline-block;
    color: red;
}